@{Layout = null;}
@using FoxOne.Business
@using FoxOne.Controls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
    <link href="~/Scripts/xheditor/xheditor_skin/default/ui.css" rel="stylesheet" />
    <style>
        h1 {
            font-size: 14px;
            font-weight: bold;
            padding: 10px;
            background-color: #f6f8f9;
            border-bottom: 1px solid #dcdcdc;
        }

        .user-select {
            width: 700px;
            background-color: white;
            padding: 15px;
            display: none;
        }

        .user-select-table td {
            vertical-align: top;
            border: 1px solid #DCDCDC;
            color: black;
            font-weight: bold;
            font-size: 14px;
            padding: 6px;
        }

        .user-select-td-bg {
            background-color: #F6F8F9;
        }

        .step-list-td {
            width: 50%;
        }

        .step-list {
            overflow-y: auto;
            height: 250px;
            font-size: 14px;
        }

            .step-list p {
                margin-top: 5px;
            }

        .tree-list-td {
            width: 50%;
        }

        .selected-list {
            width: 100%;
            height: 145px;
            margin-top: 5px;
        }

        .form-horizontal textarea.xh-editor {
            width: 747px;
            height: 200px;
        }
    </style>
</head>
<body class="easyui-layout">
    <h1>@ViewData["Title"]</h1>
    <div widget="Tab" initindex="0" pageId="">
        <div class="tab-box">

            <span class="tab-item" key="formInfo">表单信息</span>
            @foreach (var item in (ViewData["Tab"] as IList<PageRelateEntity>))
            {
                <span class="tab-item" key="@item.Id">@item.TabName</span>
            }
            <span class="tab-item" key="approvalInfo">审批信息</span>
            <span class="tab-item" key="noticeInfo">知会信息</span>
            <span class="tab-item" key="flowImage">流程图</span>
        </div>
        @foreach (var item in (ViewData["Tab"] as IList<PageRelateEntity>))
        {
            <div tabitem="@item.Id" src1="@item.RelateUrl">
                <iframe class="autoHeightFrame" src="" width="100%" scrolling="auto" frameborder="0" allowtransparency="true"></iframe>
            </div>
        }
        <div tabitem="formInfo">
            @foreach (IComponent item in (ViewData["Form"] as IList<IComponent>))
            {
                @Html.CustomControl(item)
            }
        </div>
        <div tabitem="approvalInfo">
            @Html.CustomControl((ViewData["Table"] as Table))
        </div>
        <div tabitem="noticeInfo">
            @Html.CustomControl((ViewData["NoticeTable"] as Table))
        </div>
        <div tabitem="flowImage" src1="/WorkflowDesigner/FlowImage/@ViewData["DefinitionId"].ToString()">
            <iframe class="autoHeightFrame" src="" width="100%" scrolling="auto" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
    <div class="toolbar" id="wfToolbar" style="position:fixed;bottom:0;left:0;width:100%;padding:20px;border-top:1px solid #dcdcdc;">
        <input class="btn btn-danger" id="btnRollback" type="button" value="撤回" />
        @*<input class="btn btn-default" id="btnForceEnd" type="button" value="强制结束" />*@
        <input class="btn btn-default" id="btnSendOtherToRead" type="button" value="传阅" />
    </div>
    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    @System.Web.Optimization.Scripts.Render("~/script/widget.js")
    <script src="~/Scripts/xheditor/xheditor-1.2.2.min.js"></script>
    <script src="~/Scripts/xheditor/xheditor_lang/zh-cn.js"></script>
    <script src="~/Scripts/WorkflowUserSelect.js"></script>
    <script type="text/javascript">
        $(function () {
            var height = $(window).height() - $("#wfToolbar").height() - 130;
            $("[tabitem],.autoHeightFrame").css("height", height).css("overflow-y", "auto");
            $("[TextEditor]").xheditor({tools:'About'});
            var parameter = foxOne.getQueryString();
            if (parameter.hasOwnProperty("InstanceId")) {
                foxOne.workflow.runParameter.InstanceId = parameter.InstanceId;
                foxOne.workflow.runParameter.ItemId = parameter.ItemId;
            }
            $("body").on("click", "#wfToolbar", function (e) {
                var btn = $(e.target);
                if (!btn.is("input")) return;
                if (!parameter.hasOwnProperty("InstanceId")) {
                    foxOne.alert("不允许执行此操作！");
                    return;
                }
                var id = btn.attr("id").substr(3);
                var flowEvent = $.Event("before" + id);
                switch (id) {
                    case "SendOtherToRead":
                        $.modal({
                            title: '选择传阅人员',
                            url: '/Page/UserSelector_Copy_Copy', width: 980, height: 600, overlayClose: false, onClose: function (res) {
                                if (res.length > 0) {
                                    foxOne.dataService('/Workflow/CC', { InstanceId: parameter.InstanceId, UserIds: res.join(',') }, function (r) {
                                        if (r) {
                                            foxOne.alert("传阅成功！");
                                        }
                                    }, "post", true);
                                }
                            }
                        });
                        break;
                    default:
                        foxOne.workflow.exec(id);
                        break;
                }
            });
        });
    </script>
</body>
</html>
